@charset "UTF-8";
img {
  content: normal !important;
}

/**
 * @description 设置固定长宽比
 * @example: 
    <div aspectratio ratio-1-1>
        <img aspectratio-content src="./assets/logo.png">
    </div>
 */
[aspectratio] {
  position: relative;
}

[aspectratio]::before {
  content: '';
  display: block;
  width: 1px;
  margin-left: -1px;
  height: 0;
}

[aspectratio-content] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

[ratio-1-1] {
  aspect-ratio: '1:1';
}

[ratio-16-9] {
  aspect-ratio: '16:9';
}

[ratio-4-3] {
  aspect-ratio: '4:3';
}

/**
 * @description 设置移动端1px，互斥
 * @example: 
    <div class="somebox one-px-bottom"></div>
 */
.one-px-bottom {
  position: relative;
}

.one-px-bottom:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background: #ddd;
  width: 100%;
  height: 1px;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.one-px-top {
  position: relative;
}

.one-px-top:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background: #ddd;
  width: 100%;
  height: 1px;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.one-px-right {
  position: relative;
}

.one-px-right:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background: #ddd;
  width: 1px;
  height: 100%;
  -webkit-transform: scaleX(0.5);
  transform: scaleX(0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.one-px-left {
  position: relative;
}

.one-px-left:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: #ddd;
  width: 1px;
  height: 100%;
  -webkit-transform: scaleX(0.5);
  transform: scaleX(0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
